{% extends "base.html" %}
{% block title %}Register{% endblock %}\
{% block content %}
    <h1>Register</h1>
    <div >
        {% if msg %}
            <p>{{ msg }}</p>
        {% else %}
            <p>Please, use the following form to Register:</p>
        {% endif %}
        <div>
            <form action="" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Register"></p>
            </form>
        </div>
    </div>
{% endblock %}